body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(180, 180, 241);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: black;
    line-height: 1.5;
    margin: 0;
    padding: 20px;

}

.container{
   background-color: white;
   border-radius: 15px;
   padding: 2px;
   max-width: 350px;
    max-height: 1000px;
   margin: 0 auto;
   box-shadow: 0 0 20px rgba(22, 0, 0, 0.1);
}

img{
    border-radius: 10px;
    padding: 0 auto;
    margin: 25px;
}

h2{
    font-size: 21px;
    text-align: center;
    margin-top: -10px;
}

p{
    text-align: center;
    margin-top: -10px;
}
